:root{
  --fs-base: 16px;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
  color: white !important;
  text-decoration:none;
}

html{
  scroll-behavior: smooth;
  font-size:var(--fs-base);
}

h1,h2,h3,h4,h5,h6,p,article{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mw-20rem{
  min-width:20rem;
}
.w-25rem{
  width: 25rem;
}